<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>登录界面</title>

<script type="text/javascript"   th:src="@{/js/jquery-3.3.1.js}"></script>    
<script type="text/javascript">

	function loginSubmitCheck() {
		
		if(!$("#username").val()) {
			alert("请输入用户名");
			return false;
		}
		
		if(!$("#password").val()) {
			alert("请输入密码");
			return false;
		}	
	}
	
	// 生成验证码图片
	function captchaImage() {
		// 验证码所在的标签
 	    //var imgSrc = $("#imgObj");
		//var imgSrc2= $("#imgObj");
		// 验证码请求命令
 	    var src = "/captchaImage";
 	    // 验证码完整请求命令
		var url2 = chgUrl(src);
		
		// POST命令生成验证码
		$.ajax({
		      url: url2,
		      type: "post",
		      success: function(data) {
		    	  console.info(data);
		    	  $("#imgObj").attr('src',data);
		      }
		});
		
 	}
	
 	// 将时间戳附在请求命令中。这是为了使每次生成图片不一致，即不让浏览器读缓存，所以需要加上时间戳     
 	function chgUrl(url){     
 	    // 时间戳
 		var timestamp = (new Date()).valueOf();     
 	    // 后缀
		var postfix = "?timestamp=" + timestamp;
 	    // 带后缀的url
 	    var urlWithPostfix = "";
 	    
		// 判断是否还没有后缀
		if(url.indexOf('?') == -1) {
			urlWithPostfix = url + postfix;
		} else {
			urlWithPostfix = url.substring(0, url.indexOf('?')) + postfix;
		}

 	    return urlWithPostfix;
 	}
 	
 	// 页面展示时生成二维码图片
 	captchaImage();
    	
</script>

</head>
<body>
<div th:if="${error} == 'org.apache.shiro.authc.IncorrectCredentialsException'">
	<div>用户名或密码错误！</div>
</div>
<div th:if="${error} == 'org.apache.shiro.authc.UnknownAccountException'">
	<div>用户名或密码错误！</div>
</div>
<div th:if="${error} == 'com.yhd.yhdblog.common.exception.CaptchaErrorException'">
	<div>验证码错误！</div>
</div>

<form action="/login" method="post">
    <p>账号：<input type="text" name="username" value="j"/></p>
    <p>密码：<input type="text" name="password" value="1"/></p>
    <p>
    	验证码：<input id="captcha" name="captcha" type="text" maxlength="32" class="input" />
    	<img id="imgObj"  alt="" src="" onclick="return captchaImage()"/>
    </p>
    <p><input type="submit" value="登录"/></p>
</form>
</body>
</html>